@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

:root {
    --branco-principal: #FFFFFF;
    --verde-banner: #2e7505;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --menu-lateral: #2dd51a;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

.banner {
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    text-align: center;
    padding: 2.5em 2em;
 grid-column: 2;
    grid-row: 2 / span 2;

}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--verde-banner);
    color: var(--branco-principal);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 7em;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 12em;
    }

    .banner {
        padding: 6em 0;
    }
}